<span class="like-botton">
	<% isfound = false %>
	<% post.likes.each do |like| %>
		<% if like.user_id == @current_user.id %>  
			<div>
				<%= link_to post_like_path(like, post_id: post.id), method: :delete, remote: true, id: "like-botton" do %>
					<i class="glyphicon glyphicon-heart color-red"></i>
					<%= post.likes.all.count %>
				<% end %>
			</div>
			<% isfound = true %>
			<% break %>
		<% end %>
	<% end %>    
	<% if (!isfound) %>
		<div>
			<%= link_to post_likes_path(post_id: post.id), method: :post,  remote: true, id: "like-botton" do %>
				<i class="glyphicon glyphicon-heart color-gray"></i>
				<%= post.likes.all.count %>
			<% end %>
		</div>
	<% end %>
</span>  