<div class="main users-edit">
  <div class="container">
    <h1 class="form-heading">Do you want edit your profile?</h1>
    <div class="form users-form">
      <%= render partial: "partials/error_message", locals: { thing: @user } %>
      <%= form_for (@user) do |f| %>
        <div class="form-group">
          <%= f.label :nickname, "Nickname" %>
          <%= f.text_field :nickname, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email, "Email" %>
          <%= f.email_field :email, :class => "form-control" %>
        </div>
        <div class="form-group">  
          <%= f.label :password, "Password" %>
          <%= f.password_field :password, :class => "form-control" %>
        </div>
        <div class="form-group">  
          <%= f.label :image, "Image" %>
          <%= f.file_field :image %>
        </div>
        <div class="form-group">  
          <%= f.submit "編集", :class => "btn btn-primary" %>
        </div>   
      <% end %>
    </div>
  </div>
</div>