<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">User List</h1>
    <table class="table table-bordered" >
      <% @users.each do |user| %>
        <div class="users-index-item">    
          <tr><td>
            <%= image_tag user.image.thumb.url, class: "users-index-image"  %>
          </td><td>
            <%= link_to(user.nickname, user_path(user)) %>
          </td></tr>
        </div>
      <% end %>  
    </table>
  </div>
</div>  