<div class="main user-show">
  <div class="container">
    <div class="menu-left">
      <h2><%= @user.nickname %></h2>
      <%= image_tag @user.image.thumb.url,class: "current-user-image" %>
      <% if @user.id == @current_user.id %>
        <p>email:<%= @user.email %></p>
        <%= link_to("Edit", edit_user_path(@user)) %><br>
      <% end %>    
    </div>
    <div class="menu-right">
      <% if @user.id == @current_user.id %>
        <h1>自分の投稿を振り返ってみましょう</h1>
      <% else %>  
        <h1>友達の投稿を覗いてみましょう</h1>
      <% end %>
      <% if @posts.empty? %>
        <div class="no-posts">
          まだ投稿がありません
        </div>
      <% else %>
        <table class="table table-bordered">
          <%= render :partial => "posts/post", :collection => @posts %>
        </table>
      <% end %>   
    </div>
  </div>
</div>
