<div class="main-home-top">
  <div class="container">
    <div class="top-wrapper">
      <div class="top-logo">This is Tweeting</div>
      <div class="top-content">What do you want to say?</div>
    </div>  

    <!-- 新規登録modal -->
    <div id="signup-modal">
      <div class="modal-basic">
        <div class="close-modal"><i class="glyphicon glyphicon-remove"></i></div>
        <h1 class="form-heading">Do you want to join us??</h1>
        <div class="form-users-form">
          <%= render partial: "partials/error_message", locals: { thing: @user } %>
          <%= form_for (@user) do |f| %>
            <div class="form-group">
              <%= f.label :nickname, "Nickname" %>
              <%= f.text_field :nickname, :class => "form-control", :placeholder => "Nickname" %>
            </div>
            <div class="form-group">
              <%= f.label :email, "Email" %>
              <%= f.email_field :email, :class => "form-control", :placeholder => "Email" %>
            </div>
            <div class="form-group">
              <%= f.label :image, "Image" %>
              <%= f.file_field :image %>
            </div>
            <div class="form-group">  
              <%= f.label :password, "Password" %>
              <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
            </div>
            <div class="form-group">
              <%= f.submit "新規作成", :class => "btn btn-success modal-btn" %>
            </div>
          <% end %>
        </div>
      </div>  
    </div>

    <!-- ログインmodal --> 
    <div id="login-modal">
      <div class="modal-basic">
        <div class="close-modal"><i class="glyphicon glyphicon-remove"></i></div>
        <h1 class="form-heading">Please Login!</h1>
        <div class="form users-form">
          <div class="form-body">
            <% if @error_message %>
              <div class="form-error">
                <%= @error_message %>
              </div>
            <% end %>
            <%= form_tag("/login") do %>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" value="<%= @email %>" id="email" placeholder="email" class="form-control">
              </div>
              <div class="form-group">  
                <label for ="password">Password</label>
                <input type="password" name="password" id="password" placeholder="password" class="form-control">
              </div>  
              <input type="submit" value="Login!" class="btn btn-primary modal-btn">
            <% end %>
          </div>
        </div>
      </div>  
    </div>

    <div class="main-wrapper">
      <div>

      </div>
    </div>
  </div>   
</div>