<tr>   
  <td>
  <div class="post-wrapper">
    <%= link_to(user_path(post.user)) do %>
      <%= image_tag post.user.image.thumb.url, class: "post-user-image" %>
      <span class="post-user-name">
        <%= post.user.nickname %>
      </span> 
    <% end %> 
  <span class="post-created_at">
    <%= post.created_at %>
  </span>
    <br>
    <%= link_to(post_path(post)) do %>
      <br>
      <%= image_tag post.picture.thumb.url, class: "post-picture" %><br>
      <div class="post-content">
        <%= post.content %><br>
      </div>  
    <% end %>
    <span id="like-of-<%= post.id %>">
      <%= render :partial => "likes/like", locals: { post: post } %> 
    </span>
  </div>    
  </td>  
</tr>