<div class="main posts-edit">
  <div class="container">
    <h1 class="form-heading">Do you want to edit this post?</h1>
    <%= form_for (@post) do |f| %>
        <div class="form-body">
          <%= render partial: "partials/error_message", locals: { thing: @post } %>
          <%= f.file_field :picture %>
          <%= f.text_area :content, :class => "form-control" %>
          <%= f.submit "編集", :class => "btn btn-success" %>  
        </div>
    <% end %> 
  </div>  
</div>