<div class="main posts-index">
  <div class="container">
    <div class="menu-left">
    <%= link_to(user_path(@current_user)) do %>
      <h2><%= @current_user.nickname %></h2>
      <%= image_tag @current_user.image.thumb.url,class: "current-user-image" %>
    <% end %>    
      <h3 class="form-heading">今の気持ちを写真と一緒に投稿しよう！</h3>
      <%= form_for (@post) do |f| %>
        <div class="form">
          <div class="form-body">
            <%= render partial: "partials/error_message", locals: { thing: @post } %>
          </div>
          <div class="form-body">
            <%= f.file_field :picture, :class => "form-control"  %>
          </div>
          <div class="form-body">  
            <%= f.text_area :content, :class => "form-control" %>
          </div>
          <div class="form-body">
            <%= f.submit "投稿", :class => "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="menu-right">
      <h1>What comes to your mind...</h1>
      <% if @posts.empty? %>
        <div class="no-posts">
          まだ投稿がありません
        </div>
      <% else %>
        <table class="table table-bordered">
          <%= render :partial => "posts/post", :collection => @posts %>
        </table>
      <% end %>   
    </div>  
  </div>
</div>