<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">今の気持ちを写真と一緒に投稿しよう！</h1>
    <%= form_for (@post) do |f| %>
      <div class="form">
        <div class="form-body">
           <%= render partial: "partials/error_message", locals: { thing: @post } %>
           <%= f.file_field :picture %>
           <%= f.text_area :content, :class => "form-control" %>
           <%= f.submit "投稿", :class => "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>