<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <%= render :partial => "post", locals: { post: @post } %> 
      <% if @current_user == @post.user %>
        <%= link_to("Edit", edit_post_path(@post)) %>
        <%= link_to("delete", post_path(@post), method: :delete) %>
      <% end %>
      <%= link_to("Back to list", posts_path) %>
    </div>
    <table class="table table-bordered">
      <% @comments.each do |comment| %>   
        <tr>
          <td>
            <%= link_to(user_path(comment.user)) do %>
              <%= image_tag comment.user.image.thumb.url, class: "post-user-image" %>
              <span class="post-user-name">
                <%= comment.user.nickname %>
              </span>
            <% end %> 
            <span class="post-created_at">
              <%= comment.created_at %><br>
            </span>
            <div class="post-content">
              <%= comment.content %>
            </div>  
          </td>  
        </tr>
      <% end %>  
    </table>
    <h3>この投稿にコメントしましょう</h3>
    <%= form_for (@comment), url: post_comments_path(post_id: @post.id) do |f| %>
      <div class="form">
        <div class="form-body">
           <%= render partial: "partials/error_message", locals: { thing: @comment } %>
           <%= f.text_field :content, :class => "form-control" %>
           <%= f.submit "投稿", :class => "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>