.flash_notice{
    background-color:pink;
    color: white;
    font-size: 20px;
    padding-left: 30px;
}

.flash_alert{
    background-color:white;
    color: red;
    font-size: 20px;
    padding-left: 30px;
}

body{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #302A2A;
    color: white;
}

.form-error{
    color:red;
}

.color-gray {
    color: gray;
    &:hover {
        color: pink;
    }
}

.color-red {
    color: red;
    &:hover {
        color: pink;
    }
}

.pointer {
    cursor: pointer;
}

// modal関係
.glyphicon-remove {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}


.modal-basic {
    position: absolute;
    top: 150px;
    left: 34%;
    background: whitesmoke;
    border-radius: 20px;
    padding: 30px;
    height: 500px;
}

#signup-modal, #login-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    color: black;
    height: cover;
}

