// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.main-home-top{
    color: white;
    background-image: url(/top.jpg);
    background-size: cover;
    height: 1000px;
    padding-top: 100px;
}

.top-logo{
    font-size: 100px;
}

.top-content{
    font-size: 60px;
}



.modal-btn {
    width: 350px;
}