.post-wrapper {
    background: #111;
}


.post-user-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.post-user-name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    color: white;    
}

.post-content { 
    color: white;
    font-size: 15px;
    width: 90%;
    margin: 20px auto;
}

.post-created_at {
    float: right;
    line-height: 80px;
    text-align: center;
    font-size: 15px;
    color: gray;
}

.menu-left {
    padding: 10px;
    margin-top: 55px;
    width: 200px;
    float: left;
    position: absolute;
    text-align: center;
    background: #111;
    border: 1px solid #fff;
}

.menu-right {
    width: 600px;
    float: left;
    margin-left: 220px;
}

.post-picture {
    
}

.current-user-image {
    width: 80%;
    height: auto;
    border-radius: 50%;
}

.form-heading {
    font-size: 20px;
}

.post-content-form {
    height: 1000px;
}

.like-botton {
    font-size: 20px;
    height: 30px;
    padding-top: 5px;
}


