<!DOCTYPE html>
<html>
  <head>
    <title>Tweeting2</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".target">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Tweeting</a>
      </div>
      <div class="collapse navbar-collapse target"> 
        <ul class="nav navbar-nav">
          <% if @current_user %>
            <li><%= link_to @current_user.nickname, user_path(@current_user) %></li>
            <li><%= link_to("ホーム", posts_path) %></li>
            <li><%= link_to("友達リスト", users_path) %></li>            
          <% else %>
            <li><a id="signup-modal-show" class="pointer">新規作成</a></li> 
            <li><a id="login-modal-show" class="pointer">ログイン</a></li>           
          <% end %>          
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if @current_user %>
            <li><%= link_to("Logout　　", "/logout", method: :post ) %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <div class=flash_notice>
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>  
    </div>
    <div class=flash_alert>  
      <% if flash[:alert] %>
        <%= flash[:alert] %>
      <% end %>  
    </div>
  <%= yield %>
  </body>
</html>
